.technologies {
    padding: 50px 10px
}

.heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}