.hero {
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 4rem;
}

.hero .name {
    color: #006AFF;
}

.hero h2 {
    margin: 30px auto;
    font-size: 2rem;
}

.hero .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .btn {
    background-color: #006AFF;
    color: white;
    margin: 15px 0;
    padding: 0.75rem 1.25rem;
    /* Equivalent to px-5 py-3 */
    border-radius: 0.375rem;
    /* Equivalent to rounded */
    font-weight: 600;
    /* Equivalent to font-semibold */
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
    /* Equivalent to focus:ring */
}

.hero .btn span {
    display: inline-block;
    line-height: 1;
    /* Equivalent to leading-none */
}