.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    padding: 40px 0;
    border-top: 2px solid #f1f1f1;
}

.footer .container {
    display: grid;
    grid-template-columns: 9fr 3fr;
}

.footer .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    color: var(--highlight);
    text-decoration: none;
}

.year {
    font-size: 0.70rem;
}

.location {
    padding: 5px 0;
    font-size: 0.9rem;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 5px;
}

.message {
    padding: 10px 0;
    font-size: 0.9rem;
}

.email {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 5px;

}

