.projects  {
    padding: 50px 0;
}

.projects .heading {
    text-align: center;
    font-size: 1.5rem;
    padding:  50px 0;
}

.grid {
    display: grid;
    gap: 64px;
    padding: 20px 0;
}

.gridCols {
    grid-template-columns: repeat(1, 1fr);
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f3f4f6;
}

.article:hover .image {
    transform: scale(1.1);
}

.image-container {
    overflow: hidden;
    height: 250px;
}

.image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.article:hover .image {
    transform: scale(1.1);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.title {
    font-weight: bold;
    line-height: 1.1;
    color: #374151;
    text-align: left;
}

.techUsed {
    font-size: 14px;
    color: #6b7280;
    margin: 0;
    text-align: left;
}

.description {
    font-size: 14px;
    color: #4b5563;
    flex: 1;
    text-align: left;
}

.projects-links {
    text-decoration: none;
    /* transition: transform 0.5s ease, border 0.5s ease; */
    /* border-radius: 0.6rem; */
}



@media (min-width: 800px) {
    .gridCols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1080px) {
    .gridCols {
        grid-template-columns: repeat(3, 1fr);
    }
}