/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --backgroundColor: black;
}

body, html {
  background: var(--backgroundColor);
  color: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}

.layout {
  max-width: 1250px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 40px;

}

@media (max-width: 400px) {
  .layout {
    padding: 0 20px;
  }
}





