/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --backgroundColor: black;
}

body, html {
  background: var(--backgroundColor);
  color: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}

/* layout & nav */
.layout {
  max-width: 1250px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .name a {
  display: inline-block;
  text-align: left;
  font-size: 2.5rem;
  grid-column: span 2;
}

nav a {
  font-weight: 600;
  padding-bottom: 8px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.1rem;
  margin-left: 20px;
}

nav .name a {
  margin-left: 0;
}

@media (max-width: 1200px) {
  .layout {
    padding: 0 20px;
  }
}

@media (max-width: 400px) {
  .layout {
    padding: 0 4px;
  }
}





